/* RESET */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* CSS VARIABLES */
:root {
    /* colors */
    --hamburger-btn-clr: #fff;
    --hamburger-hover-clr: #ff0000;
    --header-background-clr: #363636;
    --header-text-clr: #fff;
    --link-clr: #fff;
    --link-hover-clr: #ff0000;
    --footer-background-clr: #1b1b1b;
    --footer-heading-clr: #fffafac7;
    --footer-link-clr: #fffafa;
    --underline-clr: #f0d229;
    --accent-clr: #f0d229;
    --accent-clr-opacity: rgb(240, 210, 41);
    --scrollbar-track-clr: #1b1b1b;
    --scrollbar-border-clr: #808080;
    --body-font-clr: #1b1b1b;

    /* typography */;
    --body-font: 'Roboto', sans-serif;
    
    /* font-sizes */
    
    /* margin/padding */

    /* transitions */;
    --transition: all 0.3s ease-in-out
}

/* GLOBAL STYLES */
html{
    scroll-behavior: smooth;
}

body {
    font-family: var(--body-font);
    position: relative;
    color: var(--body-font-clr);
}

a {
    text-decoration: none;
    position: relative;
    /* display: block; */
}

a:link {
    color: var(--link-clr);
}

a:visited {
    color: var(--link-clr);
}

a::after {
    content: '';
    position: absolute;
    height: 2px;
    background: var(--link-hover-clr);
    left: 0;
    bottom: -8px;
    width: 0;
    transition: var(--transition);
}

a:hover::after {
    width: 100%;
}

a:active {
    color: var(--link-clr);
}

ul {
    list-style-type: none;
}

.btn {
    padding: 0.6rem 1.2rem;
    outline: none;
    text-transform: capitalize;
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
}

.btn:hover {
    
}

.btn-primary {
    color: var(--white);
    background: var(--accent-clr);
    color: var(--white);
    border: none;
    position: relative;
}

.btn-primary::after {
    content: '';
    position: absolute;
    height: 2px;
    background: black;
    width: 0;
    top: 0;
    left: 0;
    transition: var(--transition);
}

.btn-primary::before {
    content: '';
    position: absolute;
    height: 2px;
    background: black;
    width: 0;
    bottom: 0;
    left: 0;
    transition: var(--transition);
}

.btn-primary:hover::after {
    width: 100%;
}

.btn-primary:hover::before {
    width: 100%;
}

.btn-secondary {
    background: transparent;
    /* outline: none; */
    border: 2px solid black;
    color: var(--white)
}

.btn-secondary:hover {
    background: var(--accent-clr);
    transition: var(--transition);
}

.center {
    max-width: 1200px;
    width: 90vw;
    margin: 0 auto;
}

/* custom scrollbar */
/* width */
::-webkit-scrollbar {
  width: 1vw;
} 

/* Track */
::-webkit-scrollbar-track {
  background: black;
  border: 1px solid gray;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--accent-clr);
  cursor: pointer;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: red;
} 

/* back to top button */
.scroll {
    position: fixed;
    right: 10px;
    bottom: 60px;
    z-index: 1;
}

.scroll-btn {
    border-radius: 5px;
    border: 1px solid black;
    font-size: 1.1rem;
    font-weight: bold;
    background: var(--accent-clr-opacity);
    transition: var(--transition);
}

.scroll-btn:hover {
    opacity: 0.5;
}

/* MAIN */
.main {
    min-height: 100vh;
}

/* HEADER */
.header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 75px;
    padding: 1rem;
    background: var(--header-background-clr);
    position: fixed;
    top: 0;
    z-index: 1;
}

.sticky {
    height: 60px;
}

.nav {
    width: 100%;
}

.nav-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.company{
    display: flex;
    align-items: center;
}

.company-logo {
    width: 40px;
    -o-object-fit: cover;
       object-fit: cover;
}

.company-name {
    margin-left: 0.5rem;
    font-size: 1.4rem;
    font-weight: bold;
    color: var(--accent-clr);
    letter-spacing: 1px;
}

.nav-links {
    transform: translateY(100%);
    transition: var(--transition);
    height: 100%;
    padding: 1rem;
}

.nav-links,
.show-links {
    position:fixed;
    display: flex;
    flex-direction: column;
    top: 75px;
    left: 0;
    width: 100%;
    height: calc(100vh - 75px);
    background-color: var(--header-background-clr);
    align-items: center;
    justify-content: center;
    gap: 2rem;
    transition: var(--transition);
    overflow: hidden;
}

.show-links {
    transform: translateY(0);
}

.nav-link {
    font-size: 2rem;
    color: var(--link-clr);
    position: relative;
    padding: 0 0.5rem;
}

/* hamburger button */
.hamburger {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

@media screen and (min-width: 997px){
    .nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    
    .hamburger {
        display: none;
    }

    .nav-links {
        display: flex;
        flex-direction: row;
        gap: 1rem;
        position: static;
        transform: translateY(0);
        height: 100%;
        justify-content: flex-end;
    }

    .nav-link {
        font-size: 1.2rem;
    }
}

.line,
.line::before,
.line::after {
    height: 3px;
    width: 30px;
    background: var(--hamburger-btn-clr);
    transition: var(--transition);
}

.line::after,
.line::before {
    content: '';
    position: absolute;
}

.line::after {
    transform: translateY(8px);
}

.line::before {
    transform: translateY(-8px);
}

.line:hover,
.line:hover::before,
.line:hover::after {
    /* background: var(--hamburger-hover-clr); */
    transition: var(--transition); 
}

.open-hamburger {
    background: transparent;
}

.open-hamburger::before,
.open-hamurger::after {
    background: var(--hamburger-btn-clr);
    transition: var(--transition);
}

.open-hamburger::before {
    transform: rotate(45deg);
}

.open-hamburger::after {
    transform: rotate(-45deg);
}
/* 
.main {
    position: relative;
} */
/* HERO SECTION */
.hero {
    min-height: 60vh;
    position: relative;
    display: flex;
    align-items: center;
    background: gray;
}

.hero-content {
    display: flex;
    flex-direction: column;
    /* width: 100%; */
    gap: 2rem;
    padding: 1rem;
}

.hero-heading {
    font-size: 3rem;
}

.hero-btns {
    display: flex;
    gap: 1.5rem;
    margin-top: 1rem;
}

.custom-shape-divider-bottom-1641522960 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1641522960 svg {
    position: relative;
    display: block;
    width: calc(102% + 1.3px);
    height: 150px;
    transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1641522960 .shape-fill {
    fill: white;
}

/* COMPANY ABOUT SECTION */
.about {
    border: 2px solid green;
    min-height: 100vh;
}

.about-section {
    display: flex;
}

/* OWNER BIO SECTION */

/* SERVICES SECTION */

/* INDIVIDUAL SERVICES SECTION */

/* CONTACT SECTION */

/* FAQ SECTION */

/* FOOTER */
.footer {
    background: var(--footer-background-clr);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: space-between;
}

.footer-links {
    /* padding: 1rem; */
    min-width: 250px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.footer-heading {
    color: var(--footer-heading-clr);
    position: relative;
    margin-bottom: 0.5rem;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.footer-heading::after {
    content: '';
    position: absolute;
    background: var(--underline-clr);
    height: 2px;
    width: 40px;
    left: 0;
    bottom: -5px;
}

.footer-link {
    color: var(--footer-link-clr);
    position: relative;
    padding-bottom: 0.5rem;
}

.footer-link::after {
    bottom: 0;
}  

.attrition {
    padding: 1.2rem;
    text-align: center;
}
.copyright {
    color: var(--footer-heading-clr);
    text-align: center;
}

.footer-attrition {
    display: inline-block;
}

.footer .company {
    justify-content: center;
    flex-shrink: 0;
     min-width: 250px;
     padding: 1.5rem;
}